product/priv-app/Messages/Messages.apk
product/priv-app/GmsCore/GmsCore.apk
product/priv-app/Velvet/Velvet.apk
product/app/Maps/Maps.apk
product/app/Photos/Photos.apk
product/app/YouTube/YouTube.apk
product/app/Gmail2/Gmail2.apk
product/app/TrichromeLibrary64/TrichromeLibrary64.apk
recovery.img
system_ext/priv-app/Settings_MFV_abroad/Settings_MFV_abroad.apk
system_ext/priv-app/SystemUI_Redmagic_abroad/SystemUI_Redmagic_abroad.apk
vendor/etc/dts/dts-eagle.lic
vendor/etc/camera/udc_512_512_12Binary.bin
system/system/etc/faceclassifier/faceclassifier.dlc
system/system/lib64/libzteFaceRecognitionModels.so
system/system/priv-app/GameSpace/GameSpace.apk
system/system/priv-app/NubiaRedmagickyi_RedMagic/NubiaRedmagickyi_RedMagic.apk
system/system/priv-app/InspiredWallpaper_RedMagic/InspiredWallpaper_RedMagic.apk
system/system/priv-app/NubiaCamera/NubiaCamera.apk
system/system/priv-app/Gesture_ZTE/Gesture_ZTE.apk
system/system/app/LiveWallpaper_Axon_1080_2400_ne1b1b2c1_rm14a1b5b6b7_m14k12_m13k123_rm12e1234/LiveWallpaper_Axon_1080_2400_ne1b1b2c1_rm14a1b5b6b7_m14k12_m13k123_rm12e1234.apk
system/system/app/NubiaGameLab/NubiaGameLab.apk
system/system/app/XRLauncher/XRLauncher.apk
fs_config_dirs
fs_config_files
